target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### env file
.env
*.env

### Docker ###
docker-compose.yml
docker-compose.override.yml
docker-compose.*.yml
Dockerfile
**/Dockerfile
.docker/
docker/
*.log
*.pid

### Docker volumes & artifacts ###
/data/
/postgres-data/
/redis-data/
/tmp/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr